#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5em;
    margin-top: 5em;
    flex-flow: row wrap;
    width: 60em;
    height: 27em;
}

header, footer, article, nav, aside {
    padding: 1em;
}

header, footer {
    background: yellowgreen;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a{
    text-decoration:none;
}