/*#lion, #bear {*/
/*  cursor: pointer;*/
/*  margin-bottom: 100px;*/
/*  width: 83px;*/
/*  height: 46px;*/
/*}*/

#piranha, #shark, #bear, #lion {
  cursor: pointer;
  width: 150px;
  height: 150px;
}
div {
    position: absolute;
    top: 100px;
    left: 100px;

}
